body,
html{
	height: 100%;
	overflow : hidden;
}
#isi{
	height: 100%;
	overflow-x: hidden;
    overflow-y: scroll;
}
#isi-sub{
	height: 89.5%;
	overflow-x: hidden;
    overflow-y: scroll;	
}
#ul-navbar, 
#ul-navbar li,
#ul-navbar li a, 
#ul-navbar li a img{
	height: 100%;
}
#ul-navbar li a{
	padding :10px;
}
#ul-navbar li{
	margin-right: 20px;
}
.brand-logo{
	margin-left: 20px;
	color : #42a5f5!important;
}
#nav-navbar{
	box-shadow: none!important;
	border-bottom: 1px solid #ccc;
}
.big-side-nav{
	margin-left: 100px;
	overflow: hidden;
    height: 50px;
    width: 50px;
    margin-top: 6px;
}
.big-side-nav:hover{
	background-color: #eee;
}
.big-side-nav i {
	height: 100%;
	margin-top: -6px;	
}
.icon-navbar{
	margin-top: 10px;
	margin-right: 34px;
	height: 24px!important;
	width: 24px!important;
}
.icon-side-navbar{
	height: 24px!important;
	width: 24px!important;
}
/*side navbar*/
#side-navbar{
	height: 100%;
	padding: 0!important;
}
#ul-side-navbar{
	height: 100%;
}
#ul-side-navbar li{
    height: 40px;
    border-top-right-radius: 25px;
    overflow: hidden;
    border-bottom-right-radius: 25px;
    margin-top: 10px;
    transition: 0.3s;
}
#ul-side-navbar li a{
	display: inline-block;
    height: 100%;
    width: 100%;
    padding-top: 8px;
    padding-left: 25px;
    color: #202124!important;
}
#ul-side-navbar li a:hover{
	background-color: #eee;
}
#ul-side-navbar li a i{
	color: #767676!important;
}
#label-side-navbar,
#label-side-navbar2,
#label-side-navbar3,
#label-side-navbar4,
#label-side-navbar5,
#label-side-navbar6{
	font-size: 13px!important;
    position: absolute!important;
    margin-top: 4px!important;
    margin-left: 10px!important;
}
#btn-big-side-nav-big{
	display: none;
}
.big-side-nav{
	cursor: pointer;
}
.li-side-navbar-small{
	margin-left: 9px!important;
    text-align: center!important;
    border-radius: 25px!important;
}
.active-side-navbar{
	background-color : #42a5f545!important;
}
/*side nav*/
.side-nav .judul{
	padding-left: 10px;
	border-bottom: 1px solid #eee;
}
.side-nav .judul p{
	line-height: 1;
}
/*BERANDA TIPS*/
#TIPS-BERANDA{
	margin-top: 10px;
}
#TIPS-BERANDA{
	border: 1px solid #eee;
}
#TIPS-BERANDA #ICON-TIPS-BERANDA img{
	margin-top: 12px!important;
}
#TIPS-BERANDA #JUDUL-TIPS-BERANDA{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 12px;
}
#TIPS-BERANDA #JUDUL-TIPS-BERANDA h6{
	margin-bottom: -6px;
}
#TIPS-BERANDA #LINK-TIPS-BERANDA{
	padding-top: 20px;
}
/*BERANDA*/
#BUNGKUS-SALDO{
	height: 110px;
	margin-top: 22px;
	border-radius: 10px;
}
#BUNGKUS-SALDO #BUNGKUS-JUDUL-SALDO{
	margin-top: -16px;
	padding-bottom: 10px;
}
#BUNGKUS-JUDUL-SALDO #JUDUL-SALDO h6{
	font-size: 15px;
}
/*BELI*/
#BUNGKUS-TOKO{
	margin-top: 20px;
}
.judul-mitra{
	border-bottom: 2px solid #f3c60e;
	margin-top: 20px;
	margin-left: 10px!important;
}
.btn-cari-toko{
	margin-top: 20px;
	border-radius: 25px;
}
#BUNGKUS-TOKO #TOKO .row{
	margin-bottom: 0!important;
}
#CARD-TOKO{
	padding: 10px!important;
	height: 220px!important;
}
#TOKO{
	margin-left:10px;
}
#TOKO #INFO-TOKO{
	padding: 0!important;
}
#BAYAR{
	border-radius: 25px;
}
/*BAYAR KEBUTUHAN SEKOLAH*/
#CARD-BAYAR-KEBUTUHAN-SEKOLAH{
	margin-top: 50px;
	border-top: 2px solid #f3c60e !important;
	margin-bottom: 50px;
}
#INFO-BAYAR-KEBUTUHAN-SEKOLAH table tr td{
	padding: 5px 0px!important;
}
/*ANAK*/
#HISTORY,
#PEMBAYARAN-ANAK{
	margin-top: 50px;
}
#CARD-PEMBAYARAN-ANAK{
	height: 150px!important;
	border-left: 2px solid #f3c60e !important;
}
#CARD-PEMBAYARAN-ANAK #JUDUL-PEMBAYARAN-ANAK{
	height: 45px!important;
}
#CARD-PEMBAYARAN-ANAK .row{
	margin-bottom: 0!important;
}
#INFO-PEMBAYARAN-ANAK{
	margin-top: 10px;
	border-top: 1px solid #eee;
}
#CARD-HISTORY-KEUANGAN-ANAK{
	height: 150px!important;
	border-left: 2px solid #f3c60e !important;
}
#CARD-HISTORY-KEUANGAN-ANAK #JUDUL-HISTORY-KEUANGAN-ANAK{
	height: 45px!important;
}
#CARD-HISTORY-KEUANGAN-ANAK .row{
	margin-bottom: 0!important;
}
#INFO-HISTORY-KEUANGAN-ANAK{
	margin-top: 10px;
	border-top: 1px solid #eee;
}
/*NOTIFIKASI*/
.judul-notifikasi{
	border-bottom: 2px solid #f3c60e;
	margin-top: 20px;
	margin-left: 10px!important;
}
#BUNGKUS-NOTIFIKASI{
	margin-top: 10px;
	padding: 0;
}
#CARD-NOTIFIKASI{
	height:70px!important;
	overflow: hidden;padding: 5px;
	border-bottom: 2px solid #eee;
}
#JUDUL-NOTIFIKASI{
	max-height: 47px;
}
/*DETAIL NOTIFIKASI*/
#ISI-NOTIFIKASI p{
	margin:0!important;
}
/*PADDING*/
.P-0{
	padding: 0!important;
}
/*SUB HEADER*/
#LINK-KEMBALI{
	height: 35px;
	margin-top: 10px;
	text-align: center;
	width: 25px;
}
#ICON-LINK-KEMBALI{
	margin-top: -11px;
	height: 100%;
}
#HEADER-UANGSAKU-JUDUL{
	padding-top: 16px;
	margin-left: 40px;
}
#HEADER-UANGSAKU-JUDUL h6{
	margin-top: 5px;
}
/*TIPS*/
#TIPS{
	margin-top: 10px;
}
#CARD-TIPS{
	height: 85px;
}
#NO-TIPS .circle{
	height: 35px;
	width: 35px;
	text-align: center;
	padding: 4px;
}
/*PROFILE*/
#DIV-FOTO-PROFILE{
	margin-top: 50px;
}
#CIRCLE-FOTO-PROFIL{
	overflow: hidden;
	height: 150px;
	width: 150px;
	margin: auto;
	border: 6px solid #FFC107;
}
#MENU-PROFILE{
	border-bottom: 1px solid #eee;
}
#ICON-MENU-PROFILE img{
	height: 34px;
	margin-top: 11px;
	margin-bottom: 4px;
}
#JUDUL-MENU-PROFILE,
#LINK-MENU-PROFILE{
	padding-top: 15px;
}
/*DETAIL PROFILE*/
#BUNGKUS-TENTANG-PROFILE{
	margin-top: 20px;
}
#CARD-TENTANG-PROFILE-INFO{
	height: 415px;
}
#JUDUL-TENTANG-PROFILE{
	border-bottom: 1px solid #eee;
}
#ICON-TENTANG-PROFILE img{
	height:35px;
	width: 35px;
}
#CARD-TENTANG-PROFILE-KONTAK{
	height:200px;
}
#CARD-TENTANG-PROFILE-PRIVASI{
	height: 130px;
}

/*RESPONSIVE*/
@media only screen and (min-width: 1000px){
	#TIPS-BERANDA #JUDUL-TIPS-BERANDA{
		padding-top: 7px!important;
	}
	#TIPS-BERANDA #LINK-TIPS-BERANDA{
		padding-top: 15px!important;
	}
}
@media only screen and (max-width: 600px){
	#BUNGKUS-TOKO #TOKO{
		margin-left: 0!important;
	}
}
@media only screen and (min-width: 1000px){
	
	#HEADER-UANGSAKU-JUDUL{
		padding-top: 19px!important;
		margin-left: 42px!important;
	}
}