/*siswa*/
#tambah-siswa{
	margin-top: 20px;
}
#tambah-siswa a{
	border-radius: 25px;
}
.btn-cari-siswa{
	margin-top: 20px;
	border-radius: 25px;	
}
#btn-simpan-siswa,
#btn-edit-siswa{
	border-radius: 25px!important;
}
/*PEMBAYARAN*/
#TAMBAH-JENIS-PEMBAYARAN{
	margin-top: 20px;
}
#TAMBAH-JENIS-PEMBAYARAN a{
	border-radius: 25px;
}
.btn-cari-jenis-pembayaran{
	margin-top: 20px;
	border-radius: 25px;	
}
#BTN-SIMPAN-JENIS-PEMBAYARAN{
	border-radius: 25px!important;
    border: 1px solid #03A9F4;
}
/*TABEL*/
#DROPDOWN-TABEL{
	cursor: pointer;
}
#CARD-FORM{
	height: 600px;
}
#BTN-SIMPAN-PEMBIAYAAN{
	border-radius: 25px;
}